.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 18px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.button {
    cursor: pointer;
    width: 24px;
    padding: 8px;
}

@media screen and (width <= 768px) {
    .text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 360px;
        height: 1.2em;
        white-space: nowrap;
    }
}

