div[aria-label="wrapped label tabs"] {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#tab {
    color: white;
}

@media screen and (width <= 768px) {
    #tabs > div {
        height: 40px;
    }

    div[aria-label="wrapped label tabs"] {
        overflow-x: auto;
    }

    #tab {
        /* height: 40px !important; */
        padding: 8px;
        min-height: 40px;
        font-size: 12px !important;
    }
}